# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
test/*
.pio/*
.vscode/*
.pio/build/esp32doit-devkit-v1/.sconsign37.dblite
.pio/build/esp32doit-devkit-v1/firmware.bin
.pio/build/project.checksum
.vscode/c_cpp_properties.json
.vscode/launch.json
.pio/build/esp32doit-devkit-v1/.sconsign37.dblite
.vscode/c_cpp_properties.json
.pio/build/esp32doit-devkit-v1/firmware.bin
.pio/build/esp32doit-devkit-v1/.sconsign37.dblite
